body{
    background-image: url("./img\ src/earth_2.jpg") ;
}

h1{
    color: white;
    margin-left: 100px;
}
button{
    margin-left: 100px;
}

ul{
    list-style-type:square;
}

li{
    color: white;
    margin-left: 100px;
    font-size:x-large;
    line-height:50px;
}

h4{
    color: white;
    font-size:large;
    margin-left: 100px;
}

p{
    color: #FF851B;
    font-size:large;
    margin-left: 100px;
}
img{
    margin-left: 100px;
}
a{
    color: white;
}