body{
    background-image: url("./img\ src/earth_2.jpg") ;
}

h1{
    color: white;
    margin-left: 100px;
}
button{
        background-color: #7b38d8;
        border-radius: 10px;
        color: #eeeeee;
        text-align: center;
        font-size: 18px;
        padding: 7px;
        width: 300px;
        cursor: pointer;
        margin-left: 90px;
}

ul{
    list-style-type:square;
    color: white;
}

li{
    margin-left: 100px;
    font-size:x-large;
    line-height:50px;
}

a{
    color: white;
}

h4{
    color: white;
    font-size:large;
    margin-left: 100px;
}

p{
    color: #FF851B;
    font-size:large;
    margin-left: 100px;
}
img{
    margin-left: 100px;
}
